node_modules/
coverage/

.sass-cache
dist*

.tmp/
.idea/
.sonarlint/
.nyc_output/
.clinic/
npm-debug.log
yarn.lock
tsconfig.tsbuildinfo
.env

src/infra/config/config.json
src/infra/config/databases.json

src/infra/config/certs

DynamoDBLocal_lib/
dynamolocal/
DynamoDBLocal.jar/
LICENSE.txt
README.txt
THIRD-PARTY-LICENSE.txt

tmp/*